body {
  background-image: url('../assets/best-background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  text-align: center;
  width: 100%;
}